<div class="grid">
  <div class="col-12">
    <p-card styleClass="shadow-3 m-5 text-indigo-800" header="Fornecedores">
      <div class="mb-3 flex align-items-center gap-3">
        <label for="pesquisa">Buscar Fornecedor:</label>
        <input id="pesquisa" pInputText [formControl]="controlePesquisa" class="w-30rem p-2" placeholder="Digite a razao social do fornecedor..." />
      </div>

      <p-table
        [value]="fornecedores"
        [(selection)]="fornecedorSelecionado"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [tableStyle]="{ 'min-width': '100%' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} fornecedores"
        [showCurrentPageReport]="true"
        sortField="id"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              ID
              <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="razaosocial">
              Razao social
              <p-sortIcon field="razaosocial"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="razaosocial"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </th>
            <th pSortableColumn="cnpj">
              CNPJ
              <p-sortIcon field="cnpj"></p-sortIcon>
              <p-columnFilter
                type="numeric"
                field="cnpj"
                display="menu"
                matchMode="equals"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </th>
            <th pSortableColumn="situacao">
              Situação
              <p-sortIcon field="situacao"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="situacao"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </th>
            <th class="text-center">
              <p-button label="Novo Fornecedor" icon="pi pi-plus" routerLink="/fornecedor/novo"></p-button>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-fornecedor>
          <tr>
            <td>{{ fornecedor?.id }}</td>
            <td>{{ fornecedor?.razaosocial }}</td>
            <td>{{ fornecedor?.cnpj }}</td>
            <td>{{ fornecedor?.situacao }}</td>
            <td class="text-center">
              <div class="flex gap-2 justify-content-center align-items-center">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  (click)="editarFornecedor(fornecedor.id)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  (click)="handleDeleteFornecedorEvent(fornecedor?.id, fornecedor?.razaosocial)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
</div>
