<p-card header="Cadastro de nota fiscal" styleClass="shadow-3 m-5 text-indigo-800">
  <form [formGroup]="notafiscalForm" (ngSubmit)="handleSubmitNotafiscalAction()">
    <div class="card flex flex-column md:flex-column gap-3">
      <p-fieldset legend="Identificação">
        <input pInputText placeholder="Número*" formControlName="numero" />

        <p-calendar
          formControlName="datahora"
          [showIcon]="true"
          [showTime]="true"
          [hourFormat]="'24'"
          placeholder="Data e hora"
          dateFormat="dd/mm/yy"
        ></p-calendar>

        <p-inputNumber
          formControlName="valortotalnota"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$"
          [max]="9999999"
        ></p-inputNumber>

        <p-dropdown
          [options]="fornecedores"
          optionLabel="razaosocial"
          (onShow)="carregaFornecedores()"
          formControlName="fornecedor"
          placeholder="Selecione um fornecedor"
        ></p-dropdown>
      </p-fieldset>

      <p-fieldset legend="Endereço">
        <input pInputText placeholder="CEP*" formControlName="cep" />
        <input pInputText placeholder="Logradouro*" formControlName="logradouro" />
        <input pInputText placeholder="Complemento" formControlName="complemento" />
        <input pInputText placeholder="Bairro" formControlName="bairro" />
        <input pInputText placeholder="Cidade*" formControlName="localidade" />
        <input pInputText placeholder="UF*" formControlName="uf" />
        <input pInputText placeholder="Número" formControlName="numeroendereco" />
      </p-fieldset>
    </div>
  </form>
</p-card>

<p-card header="Itens da nota fiscal" styleClass="shadow-3 m-5 text-indigo-800">
  <div>
    <form [formGroup]="itensNotaFiscalForm" class="">
      <p-dropdown
        [options]="produtos"
        optionLabel="descricao"
        placeholder="Selecione o Produto"
        formControlName="produto"
        (onShow)="carregaProdutos()"
      ></p-dropdown>

      <p-inputNumber
        formControlName="valorunitario"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        placeholder="R$"
        [max]="9999999"
      ></p-inputNumber>

      <p-inputNumber
        formControlName="quantidade"
        [max]="9999"
        mode="decimal"
        [showButtons]="true"
        buttonLayout="vertical"
        spinnerMode="vertical"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      ></p-inputNumber>

      <p-inputNumber
        formControlName="valortotal"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        placeholder="R$"
        [max]="9999999"
      ></p-inputNumber>
    </form>

    <button
      pButton
      pRipple
      type="button"
      label="Incluir Item"
      icon="pi pi-plus"
      class="p-button-success"
      (click)="adicionarItem()"
    ></button>
  </div>

  <p-table responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Produto</th>
        <th>Preço/un</th>
        <th>Quantidade</th>
        <th>Valor Total</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body">
      <ng-container *ngIf="itens.length > 0; else noItems">
        <tr *ngFor="let item of itens; let i = index">
          <td>{{ item.produto }}</td>
          <td>{{ item.valorunitario }}</td>
          <td>{{ item.quantidade }}</td>
          <td>{{ item.valortotal }}</td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-danger"
              (click)="excluirItem(i)"
            ></button>
          </td>
        </tr>
      </ng-container>
    </ng-template>

    <ng-template #noItems>
      <tr>
        <td colspan="5" class="text-center">Não há produtos adicionados</td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Botão de salvar -->
  <button
    pButton
    pRipple
    [disabled]="!notafiscalForm.valid"
    type="submit"
    label="Salvar"
    icon="pi pi-save"
    class="p-button-success"
  ></button>
</p-card>
