<p-card
  header="Cadastro de nota fiscal"
  styleClass="shadow-3 m-5 text-indigo-800"
>
  <form [formGroup]="notafiscalForm">
    <p-fieldset legend="Identificação" class="m-2">
      <div class="card grid gap-3">
        <div class="input-container col-2">
          <label for="numero"
            >Número<span [ngStyle]="{ color: 'var(--red-700)' }">*</span></label
          >
          <input
            pInputText
            placeholder="NF-XXXX"
            formControlName="numero"
            maxlength="50"
          />
        </div>
        <div class="input-container col-3">
          <label for="datahora"
            >Data e hora<span [ngStyle]="{ color: 'var(--red-700)' }"
              >*</span
            ></label
          >
          <p-calendar
            formControlName="datahora"
            [showIcon]="true"
            [showTime]="true"
            [hourFormat]="'24'"
            placeholder="Data e hora"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </div>

        <div class="input-container col-4">
          <label for="fornecedor"
            >Fornecedor<span [ngStyle]="{ color: 'var(--red-700)' }"
              >*</span
            ></label
          >
          <p-dropdown
            [options]="fornecedores"
            optionLabel="razaosocial"
            (onShow)="carregaFornecedores()"
            formControlName="fornecedor"
            placeholder="Selecione um fornecedor"
          ></p-dropdown>
        </div>
        <div class="input-container col-2">
          <label for="valortotalnota"
            >Valor total<span [ngStyle]="{ color: 'var(--red-700)' }"
              >*</span
            ></label
          >
          <p-inputNumber
            formControlName="valortotalnota"
            mode="currency"
            currency="BRL"
            locale="pt-BR"
            placeholder="R$"
            [disabled]="true"
          ></p-inputNumber>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Endereço">
      <div class="card grid gap-3">
        <div class="input-container col-2">
          <label for="cep"
            >CEP<span [ngStyle]="{ color: 'var(--red-700)' }">*</span></label
          >
          <p-inputMask
            placeholder="__.___-___"
            formControlName="cep"
            mask="**.***-***"
            (onComplete)="buscaEnderecoPorCep()"
          ></p-inputMask>
        </div>
        <div class="input-container col-1">
          <label for="uf"
            >UF<span [ngStyle]="{ color: 'var(--red-700)' }">*</span></label
          >
          <input pInputText formControlName="uf" maxlength="2" />
        </div>
        <div class="input-container col-4">
          <label for="localidade"
            >Cidade<span [ngStyle]="{ color: 'var(--red-700)' }">*</span></label
          >
          <input pInputText formControlName="localidade" />
        </div>
        <div class="input-container col-4">
          <label for="logradouro"
            >Logradouro<span [ngStyle]="{ color: 'var(--red-700)' }"
              >*</span
            ></label
          ><input pInputText formControlName="logradouro" maxlength="255" />
        </div>
        <div class="input-container col-4">
          <label for="bairro">Bairro</label>
          <input pInputText formControlName="bairro" maxlength="100" />
        </div>
        <div class="input-container col-4">
          <label for="complemento">Complemento</label>
          <input pInputText formControlName="complemento" maxlength="255" />
        </div>
        <div class="input-container col-2">
          <label for="numeroendereco">Número</label>
          <input pInputText formControlName="numeroendereco" maxlength="10" />
        </div>
      </div>
    </p-fieldset>
  </form>
</p-card>

<p-card header="Itens da nota fiscal" styleClass="shadow-3 m-5 text-indigo-800">
  <form [formGroup]="itensNotaFiscalForm">
    <div class="card grid gap-3">
      <div class="input-container col-2">
        <label for="produto"
          >Produto<span [ngStyle]="{ color: 'var(--red-700)' }">*</span></label
        >
        <p-dropdown
          [options]="produtos"
          optionLabel="descricao"
          placeholder="Selecione o Produto"
          formControlName="produto"
          (onShow)="carregaProdutos()"
          (onChange)="onProdutoChange()"
        ></p-dropdown>
      </div>
      <div class="input-container col-2">
        <label for="valorunitario"
          >Valor unitario<span [ngStyle]="{ color: 'var(--red-700)' }"
            >*</span
          ></label
        >
        <p-inputNumber
          formControlName="valorunitario"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$"
          [max]="9999999"
          (onBlur)="calcularValorTotal()"
        ></p-inputNumber>
      </div>
      <div class="input-container col-3">
        <label for="quantidade"
          >Quantidade<span [ngStyle]="{ color: 'var(--red-700)' }"
            >*</span
          ></label
        >
        <p-inputNumber
          formControlName="quantidade"
          [max]="9999"
          [min]="1"
          mode="decimal"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="vertical"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-secondary"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          (onInput)="calcularValorTotal()"
        ></p-inputNumber>
      </div>
      <div class="input-container col-3">
        <label for="valortotal"
          >Valor total do produto<span [ngStyle]="{ color: 'var(--red-700)' }"
            >*</span
          ></label
        >
        <p-inputNumber
          formControlName="valortotal"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$"
          [max]="9999999"
          [disabled]="true"
        ></p-inputNumber>
      </div>
    </div>
  </form>
  <div
    class="flex flex-row justify-content-end align-content-center align-items-center m-3"
  >
    <div *ngIf="itemEditado === null" class="flex gap-3">
      <button
        pButton
        pRipple
        type="button"
        label="Limpar"
        class="p-button-secondary p-button-outlined"
        (click)="limparFormItens()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Incluir Item"
        icon="pi pi-plus"
        class="p-button-success p-button-outlined"
        (click)="adicionarItem()"
      ></button>
    </div>

    <div *ngIf="itemEditado !== null" class="flex gap-3">
      <button
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-secondary p-button-outlined"
        (click)="limparFormItens()">
      </button>
      <button
        pButton
        pRipple
        type="submit"
        label="Salvar edicao"
        icon="pi pi-check"
        class="p-button-warning p-button-outlined"
        (click)="salvarEdicaoItem()"
      ></button>
    </div>
  </div>

  <p-table responsiveLayout="scroll" [value]="itens" [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Produto</th>
        <th>Preço/un</th>
        <th>Quantidade</th>
        <th>Valor Total</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" pTemplate="body" let-item>
      <ng-container *ngIf="itens.length > 0">
        <tr>
          <td>{{ item.produto.descricao }}</td>
          <td>
            {{
              item.valorunitario
                ? (item.valorunitario | currency : "BRL" : "symbol" : "1.2-2")
                : "-"
            }}
          </td>
          <td>{{ item.quantidade }}</td>
          <td>
            {{
              item.valortotal
                ? (item.valortotal | currency : "BRL" : "symbol" : "1.2-2")
                : "-"
            }}
          </td>
          <td>
            <div class="flex gap-2 align-items-center">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-warning"
                (click)="editarItem(item)"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="excluirItem(item)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="5">Não há itens adicionados</td>
      </tr>
    </ng-template>
  </p-table>

  <div
    class="flex flex-row justify-content-center align-content-center align-items-center mt-3"
  >
    <button
      pButton
      pRipple
      [disabled]="!notafiscalForm.valid || itens.length === 0"
      type="submit"
      label="Salvar"
      icon="pi pi-save"
      class="p-button-success"
      (click)="handleSubmitNotafiscalAction()"
    ></button>
  </div>
</p-card>
