<app-menubar-navigation></app-menubar-navigation>
<div class="mt-2">
  <form
    [formGroup]="produtoForm"
    (ngSubmit)="handleSubmitAddProduto()"
    >

    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Descrição" formControlName="descricao">
      <input pInputText placeholder="Preço" formControlName="preco">
      <p-checkbox formControlName="situacao" [binary]="true" label="Situação"></p-checkbox>
      <div class="flex flex-row justify-content-center align-content-center align-items-center gap-3">

        <button
          pButton
          pRipple label="Cancelar" class="p-button-secondary" (click)="router.navigate(['/produto'])"></button>
        <button
          pButton
          pRipple
          [disabled]="!produtoForm.valid"
          type="submit"
          label="Concluir"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </form>
</div>
