<app-menubar-navigation></app-menubar-navigation>
<p-card header="Cadastro de produto" styleClass="shadow-3 m-5 text-indigo-800">
  <form [formGroup]="produtoForm" (ngSubmit)="handleSubmitProdutoAction()">
    <div class="card flex flex-column md:flex-column gap-3">
      <div class="input-container">
        <label for="descricao"
          >Nome<span [ngStyle]="{ color: 'var(--red-700)' }">*</span></label
        >
        <input pInputText formControlName="descricao" />
      </div>
      <div class="input-container">
        <label for="preco">Preço</label>
        <p-inputNumber
          formControlName="preco"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$"
          [max]="9999999"
        >
        </p-inputNumber>
      </div>

      <div class="input-container">
        <label for="situacao"
          >Situação<span [ngStyle]="{ color: 'var(--red-700)' }">*</span></label
        >
        <p-checkbox formControlName="situacao" [binary]="true"></p-checkbox>
      </div>

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center gap-3"
      >
        <button
          pButton
          pRipple
          label="Cancelar"
          class="p-button-secondary"
          (click)="router.navigate(['/produto'])"
        ></button>
        <button
          pButton
          pRipple
          [disabled]="!produtoForm.valid"
          type="submit"
          label="Salvar"
          icon="pi pi-save"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </form>
</p-card>
